:root {
    --mainColor: #FAFAFA;
    --hoverColor: #283dfc;
    --mainColorLight: #bfd7ff;
    --secondaryColor: #5465ff;
    --textColor: #000000;
}
.checkout-button{
    display:flex;
    flex-direction: row;
    justify-content:center;
    

}
.ProductItemStyle{
    background-color: var(--mainColor);
   

}
