@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #FAFAFA;
	
	--mainColorLight: #bfd7ff;
	--secondaryColor: #5465ff;
	--textColor: #000000;
}

header {
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
  display: flex;
  justify-content: flex-end; /* Right-align the navigation on larger screens */
}
nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: var(--mainColor);
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	
	header .nav-btn {
	  visibility: visible;
	  opacity: 1;
		position:fixed;
		left: 0;


	}
  
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background-color: #fff;
		flex-direction: column;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
	  }
	
	  nav.responsive_nav {
		transform: translateX(0);
		background-color: #fff;
		z-index: 4;
	  }
  
	  nav a {
		
		padding: 0px 0px 15px 5px;
		
		
		text-align: center;
		border-bottom: 1px solid #ccc; 
		
	  }
	  .navbarMenu{
		position: absolute;
		top:100px
	  }
	  .navbarMenu2{
		position: absolute;
		top:150px
	  } .navbarMenu3{
		position: absolute;
		top:200px
	  } .navbarMenu4{
		position: absolute;
		top:250px
	  }
	  .nav-close-btn {
		position: absolute;
		top: 10px;
		right:-20px;
		padding-right: 0%;
	  }
  }
  


  .btn-login {
	background-color: var(--secondaryColor);
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	
	
	
  }
.btn-login:hover{
	background-color: #283dfc;
	
}
.login-text{
	margin-top: 10px;
	
}

.iconsStyle {
	display: flex;
	justify-content: flex-end;
  }
  
  .icons {
	font-size: 1.5rem;
	margin-right: 1rem;
	cursor: pointer;
  }
 
  @media (max-width: 800px) {
	.iconsStyle {
	  justify-content: flex-end;
	  margin-right: -50px;
	}
  
	.icons {
	  font-size: 1rem;
	  margin-right: 10px;
	}
  }
  .desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    font-size: 0.85rem;
    text-decoration: none;
    color: rgb(50, 50, 50)
}
@media (max-width:800px){
	.hide-on-small-screen{
		display:none;
	}
}